<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>
    <ion-title>
      Add News
    </ion-title>
  </ion-toolbar>
</ion-header>



<ion-content padding>
    <ion-grid>
      <ion-row justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div text-center>
            <!-- <h4>Add News</h4> -->
          </div>

          <div padding>
            
            <ion-item>
              <ion-input type="text" [(ngModel)]="title"  placeholder="Title"></ion-input>
            </ion-item>

            <ion-item>
              <ion-input type="text"  [(ngModel)]="description"  placeholder="Description"></ion-input>
            </ion-item>
            
          </div>
  
          <div padding>
            <ion-button size="large" href="/touchid" expand="block">Envoyer</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>