<ion-header>
  <ion-toolbar>
      <ion-button fill="clear" slot="start" Href="/profile">
        <ion-icon name="md-contact"></ion-icon>
      </ion-button>
    <ion-title>News</ion-title>
    <ion-button fill="clear" slot="primary" Href="/addnews">
      <ion-icon name="add"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>
<ion-content>
 
  <ion-searchbar [(ngModel)]="searchTerm" (ionChange)="searchChanged($event)"></ion-searchbar>

  <ion-item>
    <ion-label>Select Searchtype</ion-label>
    <ion-select [(ngModel)]="type" (ionChange)="searchChanged($event)">
      <ion-select-option value="">All</ion-select-option>
      <ion-select-option value="movie">Old</ion-select-option>
      <ion-select-option value="series">New</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-list>

    <ion-item button *ngFor="let item of (results | async)" [routerLink]="['/', 'news', item.imdbID]">

      
      <ion-avatar slot="start">
        <img [src]="item.Poster" *ngIf="item.Poster != 'N/A'">
      </ion-avatar>
      
      <ion-label text-wrap>
        
        <h4>{{ item.Title }}</h4>
        
        <ion-label text-wrap>
         
          {{'testestes'}}
         
          {{ item.Year }}
        </ion-label>
      
      </ion-label>

<!-- button to delete -->
      <ion-button>
        <ion-icon name="trash"></ion-icon>
      </ion-button>

    </ion-item>
  </ion-list>
</ion-content>