<ion-header>
  <ion-toolbar>
      <ion-button fill="clear" slot="start" Href="/">
        <ion-icon name="md-home"></ion-icon>
      </ion-button>
    <ion-title>profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>


  <h4>info user </h4>
 <button mat-button>deconnexion</button>
</ion-content>
