<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button Href="/">Home</ion-button>
    </ion-buttons>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
        <div text-center>
          <h4>To Add News You must Be logged </h4>
        </div>
        <div>
          <ion-item>
            <ion-input type="text" [(ngModel)]="email"  placeholder="Email"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input type="password"  [(ngModel)]="password"  placeholder="Password"></ion-input>
          </ion-item>
        </div>

      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- button login  -->
  <ion-button padding (click)="login()" expand="block">
    Login
  </ion-button>

  <!-- button register -->
  <ion-button padding expand="block" color="secondary" routerLink="/register" routerDirection="forward">Register
  </ion-button>
  
</ion-content>