<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>Create Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
        <div text-center>
          <!-- <h4>RegisterForm</h4> -->
        </div>
        <div padding>
          <ion-item>
            <ion-input type="text" [(ngModel)]="lastName"   placeholder="LastName"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input type="text" [(ngModel)]="firstName"   placeholder="FirstName"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input type="text" [(ngModel)]="email"  placeholder="Email"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input type="password"  [(ngModel)]="password"  placeholder="Password"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input type="password" [(ngModel)]="confirmPassword"  placeholder="confirmPassword"></ion-input>
          </ion-item>
        
        </div>

        <div padding>
          <ion-button size="large" href="/touchid" expand="block">Envoyer</ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>